
<div class="home_center">
    <p>
        <label for=" pokemon-select">SEARCH</label>
        <input type="text" [(ngModel)]="entree">
      </p>
      
      <p>
          <button type="button" (click)="displayPokemonId()">GO!</button>
      </p>
      
          <div *ngIf="pokemon">
              <ul>
                <li><strong>Name: </strong>{{ pokemon.name | titlecase }}</li>
                <li><strong>Order: </strong>{{ pokemon.order }}</li>  
                <li><strong>Height: </strong>{{ pokemon.height }}</li>
                <li><strong>Weight: </strong>{{ pokemon.weight }}</li>
              </ul>
          </div>
      <div class="home_center" style="">
          <div class="row">
             <table style="width: 100%">
               <tr>
                <th>URL</th>
                <th>NAME</th>
                <th></th>
                </tr>
                <tr *ngFor="let pokemon of (listPokemon | filterPokemonPipe:'name':entree)">
                <td>{{pokemon.url}}</td>
                <td>{{pokemon.name}}</td>
                <td><button type="button" (click)="displayPokemonId(pokemon.name)">VOIR</button></td>
              </tr>
             </table>
          </div>
       </div>
      <style>
          button {
            margin: 10px 20px;
            padding: 10px 20px; 
            border-radius: 20px 20px;
            background-color:#F4D03F;
            border: 1px solid #777;
          }
          .home_center{
            text-align: center;
            align-content: center ;
          }
      </style>
</div>